@font-face {
  font-family: 'GrapeSoda';
  src: url('grapesoda.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #000;
  font-family: "GrapeSoda", monospace;
  margin: 0;
  text-align: center;
}

p,
a,
h1,
h2 {
  color: #fff;
}

p,
a {
  font-size: 38px;
}

h1,
h2 {
  margin-bottom: 0;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 48px;
}

#logo {
  height: 2.5em;
}

#elevator {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 500px;
  height: 500px;
  background-image: url('img/elevator.png');
  overflow: hidden;
  transform: translate(-50%, -50%);
}

#elevator.open {
  background-image: url('img/elevator-open.png');
}

#speechBubbleContainer {
  position: absolute;
  top: 0;
  left: 0;
  max-width: calc(100% - 16px);
  max-height: calc(100% - 16px);
  margin: 8px;
  z-index: 1;
}

#speechBubble {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border: 4px solid #000;
  border-radius: 10px;
}

#speechBubbleContainer:not(.pitch),
#speechBubbleContainer:not(.pitch) {
  width: calc(100% - 16px);
}

#speechBubbleContainer.pitch {
  min-width: 110px;
}

#speechBubbleContainer.player:after,
#speechBubbleContainer.investor:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border: 26px solid transparent;
  border-top-color: #000;
  border-bottom: 0;
  margin-bottom: -24px;
  z-index: 1;
}

#speechBubbleContainer.player:before,
#speechBubbleContainer.investor:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border: 18px solid transparent;
  border-top-color: #fff;
  border-bottom: 0;
  margin-bottom: -14px;
  z-index: 2;
}

#speechBubbleContainer.waiting #speechBubble {
  background-color: #f0e68c;
}

#speechBubbleContainer.waiting:before {
  border-top-color: #f0e68c;
}

#speechBubbleContainer.listening #speechBubble {
  background-color: #d0f0d0;
}

#speechBubbleContainer.listening:before {
  border-top-color: #d0f0d0;
}

#speechBubbleContainer.player:after {
  left: 76px;
  border-right: 0;
}

#speechBubbleContainer.player:before {
  left: 80px;
  border-right: 0;
}

#speechBubbleContainer.investor:after {
  right: 76px;
  border-left: 0;
}

#speechBubbleContainer.investor:before {
  right: 80px;
  border-left: 0;
}

#transcript {
  margin: 0;
  padding: 0.5em;
  font-size: 32px;
  color: #000;
  white-space: pre-wrap;
}

#player,
#investor {
  position: absolute;
  top: 0;
  left: 0;
}

#investor {
  display: none;
}

#leaderboard {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 1;
}

#leaderboard>p {
  margin: 0;
}

#info {
  position: absolute;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
}

#warning,
#warning a {
  margin: 0;
  color: #f00;
  font-size: 24px;
}

#score {
  margin: 0;
  color: #fff;
  font-size: 32px;
}

#footer {
  display: flex;
  gap: 1em;
  position: absolute;
  bottom: 1em;
  left: 50%;
  color: #fff;
  font-size: 32px;
  transform: translateX(-50%);
}

#gelato {
  color: #0f0;
}

#gelato>img {
  height: 1em;
}